body {
  background-color: #F0E5CF;
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

#testimonials {
  background-color: #A12568;
  color: white;
}

.carousel-item {
  padding: 5px;
}

@media screen and (max-width:1100px) {
  #testimonials {
    margin-top: 350px;
  }

  .carousel-item {
    padding: inherit;
  }
}

.first-box {
  background-image: url("https://images.unsplash.com/photo-1586791965591-15d8892f6dd6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1578&q=80");
  position: relative;
  min-height: 750px;
  margin: 0;
  padding: 0;
  border: 0;
}

.zipps {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 7%;
  padding-top: 30px;
  display: inline-block;
}

.anchor {
  margin-right: 6%;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}

a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #A12568;
}

.headings {
  color: white;
  margin-left: 10%;
  display: inline-block;
  text-align: left;
  margin-right: 30%;
}

.p1 {
  line-height: 2;
  font-size: 1.3rem;
}

.head-line {
  font-weight: bold;
  font-size: 3rem;
}

.btn1 {
  cursor: pointer;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: left;
  font-weight: bolder;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 890px) {
  .anchor {
    margin-right: 2.2%;
    font-size: 1rem;
  }

  .zipps {
    margin-left: 5%;
  }

  .headings {
    margin-left: 5%;
  }

  .btn1 {
    font-size: 12px;
  }
}

.umbrella {
  float: right;
  margin-left: 30px;
  color: #A12568;
}

.second-box {
  margin: 20px auto 0 auto;
  text-align: left;
}

.hsecond {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.second-inner {
  width: 50%;
  margin: 35px auto 80px auto;
}

.p2 {
  clear: left;
  font-weight: normal;
  margin-right: 30px;
  font-size: 20px;
}

.icon-inner {
  width: 60%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 270px;
  padding: auto;
  text-align: center;
}

.col-1 {
  float: left;
}

.col-2 {
  display: inline-block;
  margin: 0 auto;
}

.col-3 {
  float: right;
}

.cooli {
  display: inline-block;
  padding: 20px;
  width: 22%;
  text-align: center;
}

.p3 {
  font-weight: normal;
  font-size: 17px;
}

.icon-3 {
  border-radius: 35%;
  background-color: #A12568;
  color: white;
}

.btn2 {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  width: 130px;
}

p {
  line-height: auto;
}

.raw {
  min-height: 700px;
  text-align: left;
  margin-top: 50px;
}

.rock {
  float: left;
  width: 25%;
  /* padding: 10px; */
  height: 700px;
}

.raw:after {
  content: "";
  display: table;
  clear: both;
}

.project-img {
  width: 100%;
  height: 65%;
}

.project-btn {
  width: 50%;
  font-size: 17px;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
}

@media screen and (max-width:1100px) {
  .raw {
    min-height: 1800px;
    margin-top: 310px;
  }

  .rock {
    height: 900px;
    width: 50%;
  }

  .project-img {
    height: 70%;
  }

  .project-btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 920px) {
  .raw {
    min-height: 1200px;
    margin-top: 320px;
  }

  .rock {
    height: 750px;
    width: 50%;
  }

  .project-img {
    height: 50%;
  }

  .project-btn {}
}

.column-1 {
  display: inline-block;
  padding: 20px;
  width: 22%;
  text-align: center;
}

.pr {
  width: 70%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 400px;
  padding: auto;
  text-align: center;
}

.x1 {
  float: left;
}

.x2 {
  display: inline-block;
  margin: 0 auto;
}

.x3 {
  float: right;
}

.icon-2 {
  color: #A12568;
}

.fourth-box {
  margin-top: 50px;
}

.zippy-team {
  width: 60%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 400px;
  text-align: center;
  padding: 5px;
}

.zippy-team-image {
  border-radius: 50%;
  height: 175px;
  width: 175px;
}

@media screen and (max-width:960px) {
  .zippy-team {
    width: 90%;
    padding: 20px;
  }

  .zippy-team-image {
    height: 125px;
    width: 125px;
  }
}

.fig1 {
  float: left;
}

.fig2 {
  display: inline-block;
  margin: 0 auto;
}

.fig3 {
  float: right;
}

.fig4 {
  float: left;
}

.fig5 {
  display: inline-block;
  margin: 0 auto;
}

.fig6 {
  float: right;
}

.teams {
  transition: .5s ease;
  backface-visibility: hidden;
}

.p-zippyteam {
  color: #5C3D2E;
}

.teams:hover {
  opacity: 0.3;
}

.zippy-life {
  background-color: #FFF7AE;
}

.zl-img-top {
  width: 70%;
  text-align: center;
  margin: auto;
}

.zl-img1 {
  width: 60%;
}

.zl-img2 {
  width: 20%;
}

.zl-img-bottom {
  border: 10px;
}

.news-signup {
  background-image: url("https://inhabitat.com/wp-content/blogs.dir/1/files/2016/05/Zhangjiajie-Grand-Canyon-Full-Width.jpg");
  position: relative;
  min-height: 300px;
  margin: 0;
  padding: 30px;
  border: 0;
}

.h2-signup {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-top: 0;
}

.email-signup {
  width: 45%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 200px;
  text-align: center;
  padding: 40px 100px auto 100px;
}

.input-email {
  float: left;
  display: inline-block;
  width: 70%;
  text-align: center;
}

.button-click {
  float: right;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.btn-click {
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

@media screen and (max-width:1100px) {
  .h2-signup {
    font-size: 3.2rem;
  }

  .email-signup {
    width: 70%;
  }
}

@media screen and (max-width:685px) {
  .email-signup {
    width: 98%;
  }

  .h2-signup {
    font-size: 3rem;
  }
}

@media screen and (max-width:763px) {
  .btn-click {
    font-size: 15px;
    padding: 8px;
  }
}

.full-blog {
  width: 80%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 400px;
  text-align: center;
  padding: 0px;
}

.blow {
  display: inline-block;
  padding: 17px;
  width: 24%;
  text-align: center;
}

@media screen and (max-width:1100px) {
  .full-blog {
    width: 60%;
  }

  .blow {
    width: 100%;
    max-width: 100%;
  }
}

.blog-1 {
  float: left;
}

.blog-2 {
  display: inline-block;
  margin: 0 auto;
}

.blog-3 {
  float: right;
}

.btn3 {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  width: 130px;
}

.blog-image {
  width: 100%;
  height: 50%;
}

.map-contact {
  margin-top: 50px;
  min-height: 340px;
}

.map {
  float: left;
  width: 50%;
}

.india {
  width: 100%;
  height: 340px;
}

.contact {
  width: 50%;
  float: right;
  background-color: yellow;
  text-align: left;
  height: 340px;
}

.contact-h2 {
  margin: auto;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
}

.contact-inner {
  padding: 15px;
}

label {
  font-size: 18px;
}

.txt-area {
  resize: none;
}

.btn4 {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  width: 210px;
  height: auto;
  color: white;
}

.bottom {
  margin-top: 20px;
}

.bottom-inside {
  width: 60%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 200px;
  text-align: center;
  padding: 10px;
}

.cn {
  display: inline-block;
  padding: 17px;
  width: 20%;
  text-align: center;
}
.con{
  cursor: pointer;
}

.first-bottom {
  float: left;
}

.second-bottom {
  display: inline-block;
  margin: 0 auto;
}

.third-bottom {
  float: right;
}

@media screen and (max-width:1100px) {
  .map-contact {
    margin-top: 750px;
  }

  .map {
    width: 100%;
  }

  .india {
    width: 100%;
    max-width: 100%;
  }

  .contact {
    width: 100%;
  }

  .map-contact {
    min-height: 400px;
  }

  .india {
    height: 400px;
  }

  .contact {
    height: 400px;
  }

  .contact-form {
    width: 90%;
    height: 60%;
  }

  .bottom {
    margin-top: 440px;
  }

  .bottom-inside {
    width: 95%;
  }

  .cn {
    padding: 14px;
    width: 30%;
    text-align: center;
  }
}

@media screen and (max-width:1100px) {
  .second-inner {
    width: 60%;
  }

  .icon-inner {
    width: 60%;
  }

  .cooli {
    width: 100%;
    max-width: 100%;
  }

  .p3 {
    font-size: 22px;
  }

  /* .project-img{
    height: 75%;
  } */
  .pr {
    width: 60%;
  }

  .column-1 {
    width: 100%;
    max-width: 100%;
  }

  .fourth-box {
    margin-top: 70px;
  }

  .zl-img-top {
    width: 90%;
  }

  .zl-img1 {
    width: 93%;
  }

  .zl-img2 {
    width: 30%;
  }

  label {
    font-size: 25px;
  }
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(0.9);
  /* IE 9 */
  -webkit-transform: scale(0.9);
  /* Safari 3-8 */
  transform: scale(0.9);
}
button{
  transition: transform .2s;
}
button:hover{
  opacity: 0.7;
  -ms-transform: scale(0.9);
  /* IE 9 */
  -webkit-transform: scale(0.9);
  /* Safari 3-8 */
  transform: scale(0.9);
}
